.parent {
    height: 125vh;
      margin: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr; /* 2 columns */
      grid-template-rows: repeat(4, 1fr); /* 4 rows */
      gap: 5px; /* shorthand for both gaps */
      background-color: rgb(8, 58, 197);
    }  
    .parent > div {
     display: flex;
     align-items: center;
     justify-content: center;
     border: 2px solid; color: black;
     font-size: 20px;
 
   }
 
 
 #div1 {
     background-color: rgb(255, 255, 255);
     grid-column: 1/2 ;
     grid-row: 1/3 ;
 }
 
 #div2 {
   background-color: rgb(255, 255, 255);
   grid-column: 2/3;
   grid-row: 1/3 ;
 }
 
 #div3 {
   background-color: rgb(255, 255, 255);
   grid-column: 1/2  ;
   grid-row: 3/5 ;
   
 }
 
 #div4 {
   background-color: rgb(255, 255, 255);
   grid-column: 2/3 ;
   grid-row: 3/5 ;
   
 }

 #img1{
    height: 100%;
    width: 100%;
 }